{% extends 'base.html' %}
{% load static %}
{% block title %}Escola - Alunos{% endblock %}
{% block content %}
    <div>
        <h1 class="text-center">PROJETO 1- ESCOLA</h1>
        <ul>
            {% for aluno in alunos %}
                <li>
                    Nome: {{ aluno.nome }} - E-mail: {{ aluno.email }} - Telefone: {{ aluno.telefone }} - Média Final: {{ aluno.mediafinal }}
                    <a href="{% url 'alunosUpdate' aluno.pk %}">Editar Aluno</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'alunosNovo' %}">Adicionar Aluno</a>
    </div>
{% endblock %}
