<div class="topnav" id="navbar">
  <a class="active" id="home" name="/" href="{% url 'escola' %}">Home</a>
  <a id="alunos" name="/alunos/" href="{% url 'alunosList' %}">Alunos</a>
  <a id="disciplinas" name="/disciplinas/" href="{% url 'disciplinas' %}"
    >Disciplinas</a
  >
  {% if user.is_authenticated %}
  <a
    id="password_change"
    name="/accounts/password_change/"
    href="{% url 'password_change' %}"
    >Alterar Senha</a
  >
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Sair</button>
  </form>
  {% else %}
  <a class="btn btn-outline-primary" href="{% url 'login' %}">Entrar</a>
  {% endif %}
</div>
